.horizontalNav-container {
  background-color: var(--navBackgroundColor);
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  font-size: 1.5rem;
}

.horizontalNav-nav > a {
  color: var(--secondaryColor);
  text-decoration: none;
  margin: 5vw;
}

@media screen and (max-width: 1500px) {
  .horizontalNav-container {
    width: 100vw;
  }
}
