.lowerCharts {
  display: flex;
  margin-top: 5vh;
}

.lowerCharts > div {
  margin-right: 2vw;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  margin: 5vh 5vw 5vh 15vw;
}
