.statistics-container {
  display: flex;
  margin: 5vh 5vw 5vh 15vw;
}

.charts-container {
  margin-right: 10vw;
}

.lowerCharts {
  display: flex;
  margin-top: 25px;
}

.lowerCharts > div {
  margin-right: 25px;
}

@media screen and (max-width: 1400px) {
  .statistics-container {
    flex-wrap: wrap;
  }
}
